
@use "sass:list";
@use "sass:math";

[data-ui-fixed] {
  position: fixed !important;
  left: 0;
  width: 100%;
  z-index: 10 !important;
  transform: translateZ(0);
}
[data-ui-fixed='top'] {
  top: 0;
}
[data-ui-fixed='bottom'] {
  bottom: 0;
}
[data-ui-fixed='bottom'] {
  background-color: #fff;
  &.btn-wrap,
  .btn-wrap {
    padding: px(20);
  }
}
.aos {
  #wrap {
    &.res {
      padding-bottom: 0 !important;
      [data-ui-fixed='bottom'] {
        position: static !important;
      }
    }
  }
}
#wrap {
  position: relative;
  width: 100%;
  left: 0;
  right: 0;
}
/* header */
#header,
[class*='ly-'] .header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: px(52);
  background-color: #fff;
  h1 {
    flex: 1;
    text-align: center;
    font-size: px(16);
    font-weight: 700;
    color: #111111;
    line-height: 1;
  }
  [class^='btn-'] {
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    font-size: 0;
    i {
      @include bgf;
      width: px(40);
      height: px(40);
    }
    &.btn-back {
      margin-top: -1px;
      left: 0;
      i {
        background: url(../images/icon_back.svg) center no-repeat;
        background-size: px(14) auto;
      }
    }
    &.btn-set {
      left: auto;
      right: px(20);
      i {
        width: px(22);
        height: px(22);
        background: url(../images/btn_settings.png) center no-repeat;
        background-size: 100% auto;
      }
    }
    &.btn-close {
      left: auto;
      right: px(10);
      i {
        background: url(../images/icon_close.svg) center no-repeat;
        background-size: px(24) auto;
      }
    }
    &.btn-txt {
      left: auto;
      right: 0;
      width: px(60);
      height: px(40);
      font-size: px(14);
      font-weight: normal;
      color: #333;
      background-color: #fff;
    }
  }
}
/* container */
#wrap {
  position: relative;
  .content {
    padding: px(10) px(20) px(20);
    &-title-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #f1f1f1;
      height: px(46);
    }
    &-title-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-title {
      font-size: px(20);
      font-weight: bold;
      color: #111;
      text-align: center;
      &.main {
        padding-left: px(5);
        font-size: px(14);
        font-weight: 500;
      }
      &.sub {
        font-size: px(16);
        font-weight: 500;
        color: #333;
      }
    }
    &-desc {
      font-size: px(12);
      font-weight: normal;
      color: #999;
    }
    & + .content {
      border-top: 8px solid #f5f5f5;
    }
    &.tab-menu {
      position: relative;
      margin-bottom: px(-8);
      padding-bottom: 0;
      background-color: #fff;
      .content-title.main, .user-point {
        display: none;
      }
      &.fixed {
        z-index: 5;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        padding-bottom: px(15);
        border-top: 0 none;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .content-title.main {
          display: block;
          font-size: px(14);
        }
        .user-point {
          display: block;
          padding-right: px(4);
          font-size: px(20);
        }
        .tablist-box {
          margin-top: px(10);
          width: 100%;
        }
      }
    }
    &.history {
      padding-top: 0;
    }
    &.rcmd-bonus {
      background-color: #f5f5f5;
    }
    &.notice {
      border-top: 0 none;
      padding-top: px(27);
      padding-bottom: px(60);
      background-color: #f5f5f5;
      details {
        & + details {
          margin-top: px(12);
        }
        summary {
          font-size: px(14);
          letter-spacing: -0.36px;
          color: #666;
          &::-webkit-details-marker,
          &::marker {
            content: "";
            display: none;
          }
        }
        .close-text {
          display: none;
        }
        &[open] {
          .open-text {
            display: none;
          }
          .close-text {
            display: inline;
          }
        }
        ul {
          margin: px(10) 0 px(22);
        }
        li {
          position: relative;
          padding-left: px(18);
          font-size: px(14);
          font-weight: normal;
          line-height: 1.33;
          letter-spacing: -0.36px;
          color: #999;
          & + li {
            margin-top: px(6);
          }
          &::before {
            content: '';
            position: absolute;
            top: px(6);
            left: px(8);
            width: px(2);
            height: px(2);
            background-color: #999;
          }
        }
      }
    }
  }
}
.rcmd-top {
  margin-top: px(18);
  text-align: center;
  .img-hands {
    width: px(74);
  }
  .img-point {
    width: px(270);
  }
  p {
    margin: px(18) 0;
    font-size: px(14);
    font-weight: normal;
    line-height: 1.43;
    color: #333;
  }
}
.rcmd-code-box {
  margin: px(18) 0;
  border-radius: 18px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  .rcmd-code-top {
    position: relative;
    padding: px(24) px(32);
  }
  .rcmd-code-text {
    display: block;
    font-size: px(14);
    font-weight: 500;
    color: #333;
  }
  .user-rcmd-code {
    max-width: px(150);
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-right: px(4);
    font-size: px(28);
    font-weight: bold;
    color: #0e6dff;
    &-wrap {
      margin-top: px(4);
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .btn-code-copy {
    flex-shrink: 0;
    margin-left: px(8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: px(85);
    height: px(40);
    background-color: #313131;
    border-radius: px(100);
    font-size: px(14);
    font-weight: 500;
    color: #fff;
    img {
      width: auto;
      margin-right: px(5);
    }
  }
  .btn-user-invite {
    border-top: 1px solid #f1f1f1;
    display: block;
    width: 100%;
    height: px(56);
    font-size: px(16);
    font-weight: bold;
    color: #333;
  }
}
.rcmd-code-input-box {
  border-radius: 18px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
  padding: px(32);
  text-align: center;
  strong {
    font-size: px(18);
    font-weight: bold;
    color: #111;
    letter-spacing: -0.9px;
  }
  p {
    margin-top: px(6);
    font-size: px(14);
    font-weight: normal;
    color: #333;
    letter-spacing: -0.7px;
  }
  .user-input-box {
    position: relative;
    margin-top: px(18);
    padding: px(15) px(26);
    border-radius: px(8);
    border: solid 1px #111;
    background-color: #fff;
    text-align: left;
    input {
      width: calc(100% - 6rem);
      height: px(24);
      font-size: px(14);
      font-weight: 500;
      color: #111;
      &::placeholder {
        font-size: px(14);
        font-weight: 500;
        color: #999;
      }
    }
    .btn-input-check {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 0 px(24);
      font-size: px(16);
      font-weight: 500;
      color: #333;
    }
  }
}
.btn-setting-wallet {
  min-width: px(60);
  height: px(36);
  border-radius: px(8);
  background-color: #f2f2f2;
  font-size: px(14);
  font-weight: 500;
  color: #666;
}
.guide-detail {
  padding: px(10) 0 px(40);
  p {
    font-size: px(14);
    font-weight: normal;
    line-height: 1.57;
    letter-spacing: -0.7px;
    color: #333;
    & ~ p {
      margin-bottom: px(10);
    }
  }
  h2 {
    margin: px(40) 0 px(16);
    font-size: px(16);
    font-weight: bold;
    line-height: 1.38;
    letter-spacing: -0.8px;
    color: #333;
  }
  strong {
    margin-bottom: px(8);
    display: block;
    font-size: px(14);
    font-weight: bold;
    line-height: 1.57;
    letter-spacing: -0.7px;
    text-align: left;
    color: #3383fd;
  }
  dl {
    margin-bottom: px(10);
    font-size: px(14);
    overflow: hidden;
  }
  dt {
    float: left;
    font-weight: 500;
    line-height: 1.57;
    color: #111;
    span {
      margin: 0 px(6);
    }
    & ~ dt {
      margin-top: px(2);
    }
  }
  dd {
    overflow: hidden;
    font-weight: normal;
    line-height: 1.57;
    color: #666;
    & ~ dd {
      margin-top: px(2);
    }
  }
  ul {
  }
  li {
    position: relative;
    padding-left: px(10);
    font-size: px(14);
    font-weight: normal;
    line-height: 1.57;
    letter-spacing: -0.7px;
    color: #666;
    em {
      font-weight: 500;
      color: #333;
    }
    p {
      margin-top: px(6);
      font-size: px(12);
      font-weight: normal;
      line-height: 1.33;
      letter-spacing: -0.6px;
      color: #999;
    }
    & + li {
      margin-top: px(10);
    }
    &::before {
      content: '';
      position: absolute;
      top: px(10);
      left: 0;
      width: px(2);
      height: px(2);
      background-color: #999;
    }
  }
}
.user-point {
  &-wrap {
    margin-bottom: px(12);
    padding-left: px(5);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  font-size: px(40);
  font-weight: bold;
  color: #111;
  letter-spacing: normal;
  min-width: 0;
  display: flex;
  em {
    padding-right: px(2);
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: normal;
  }
  &-info {
    border-top: 1px solid #f1f1f1;
    padding: px(15) px(4) 0 px(6);
  }
  &-item {
    min-height: px(26);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .point-type {
      font-size: px(14);
      font-weight: normal;
      color: #727787;
      letter-spacing: -0.42px;
    }
    .point-num {
      font-size: px(14);
      font-weight: 500;
      color: #111;
      letter-spacing: normal;
      &.plus {
        color: #f14d4d;
      }
      &.minus {
        color: #3383fd;
      }
    }
  }
}
.btn-box {
  display: flex;
  button {
    flex: 1;
    & + button {
      margin-left: px(8);
    }
  }
}
.btn-primary {
  height: px(42);
  border-radius: px(10);
  background-color: #ebf3ff;
  font-size: px(16);
  font-weight: 500;
  line-height: normal;
  color: #3383fd;
  &[aria-selected='true'] {
    background-color: #3383fd;
    color: #fff;
  }
}
.stamp-history-header {
  margin-top: px(15);
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.stamp-set-month {
  display: flex;
  align-items: center;
  .stamp-year {
    font-size: px(16);
    font-weight: bold;
    letter-spacing: -0.48px;
    color: #202434;
  }
  .stamp-month {
    margin-left: px(4);
    font-size: px(22);
    font-weight: bold;
    letter-spacing: -0.66px;
    color: #202434;
  }
}
.stamp-summary {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  .get-num {
    font-size: px(14);
    font-weight: bold;
    letter-spacing: -0.14px;
    color: #3383fd;
  }
  .total-num {
    margin-left: px(4);
    font-size: px(14);
    font-weight: normal;
    letter-spacing: -0.14px;
    color: #999;
  }
}
.btn-set-month {
  padding: px(5) px(10);
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    display: block;
    border-style: solid;
    border-width: px(8) px(7) 0px px(7);
    border-color: #4c5063 transparent transparent transparent;
  }
  &.prev::before {
    transform: rotate(90deg);
  }
  &.next::before {
    transform: rotate(-90deg);
  }
  &:disabled::before {
    border-color: #ccd0db transparent transparent transparent;
  }
}
.stamp-history-content {
  position: relative;
  margin-top: px(22);
  background: url(../images/bg_line.png) center math.div(px(30), px(278)) no-repeat;
}
.stamp-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  padding-top: px(30);
  div {
    border: 1px solid #d7d7d7;
    border-radius: px(73);
    height: px(73);
    & + div {
      margin-top: -1px;
    }
  }
}
.stamp-list {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0 px(20);
  margin-bottom: px(12);
  &-wrap {
    overflow: hidden;
  }
  &.even {
    flex-direction: row-reverse;
    li:last-child {
      border-color: #3383fd;
      color: #3383fd;
      &.save {
        border-color: #ff9a02;
        background-color: #ff9a02;
        color: #fff;
      }
    }
  }
}
.stamp-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px dashed #d7d7d7;
  border-radius: 50%;
  background-color: #fff;
  margin-right: px(12);
  width: px(60);
  height: px(60);
  font-size: px(14);
  font-weight: 500;
  letter-spacing: -0.42px;
  color: #797979;
  text-align: center;
  &.save {
    border-color: #3383fd;
    background-color: #3383fd;
    color: #fff;
  }
}
.btn-view-stamp {
  z-index: 1;
  position: relative;
  display: block;
  margin: 0 auto;
  width: px(140);
  height: px(40);
  border-radius: px(20);
  border: solid 1px #d9d9d9;
  background-color: #fff;
  font-size: px(13);
  color: #111;
  letter-spacing: -0.39px;
  &-box {
    margin-top: px(20);
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 50%;
      background-color: #fff;
    }
  }
}
.chart-wrap {
  padding: 0 px(10);
}
.point-history {
  padding: px(10) 0;
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: px(40);
    .month {
      font-size: px(14);
      color: #333;
    }
    .num {
      font-size: px(16);
      font-weight: bold;
      color: #111;
      &.minus {
        color: #f14d4d;
      }
    }
  }
}
.btn-view-more {
  display: block;
  width: 100%;
  height: px(40);
  font-size: px(14);
  color: #666;
  text-decoration: underline;
  @at-root .history-list ~ & {
    flex-shrink: 0;
    margin-top: px(23);
    margin-bottom: px(20);
    color: #999;
  }
}
.user-hold-point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  dt {
    font-size: px(14);
    font-weight: normal;
    color: #333;
  }
  dd {
    font-size: px(20);
    font-weight: bold;
    color: #111;
    span {
      margin-left: px(4);
    }
  }
}
.user-paid-point {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: px(66);
  dt {
    font-size: px(16);
    font-weight: 500;
    color: #333;
  }
  dd {
    font-size: px(20);
    font-weight: bold;
    color: #3383fd;
    span {
      margin-left: px(4);
    }
  }
}
.point-exchange {
  &-title {
    margin-top: px(30);
    font-size: px(18);
    font-weight: bold;
    color: #111;
  }
  &-desc {
    margin-top: px(4);
    font-size: px(14);
    font-weight: normal;
    color: #333;
  }
  &-wrap {
    margin-top: px(16);
    display: flex;
  }
  &-box {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: px(20) px(10) px(10);
    border-radius: px(12);
    background-color: #f5f5f5;
    & + & {
      margin-left: px(12);
    }
    .select-quantity-box {
      margin-top: px(10);
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: px(54);
      border-radius: px(8);
      border: solid 1px #e0e0e0;
      background-color: #fff;
      .num {
        font-size: px(20);
        font-weight: bold;
        color: #111;
        &.null {
          color: #666;
        }
      }
      .btn-quantity {
        position: relative;
        width: px(40);
        height: 100%;
        &::before {
          content: '';
          position: absolute;
          left: px(14);
          top: 50%;
          transform: translateY(-50%);
          width: px(14);
          height: px(2);
          background-color: #919191;
        }
        &.plus::after {
          content: '';
          position: absolute;
          left: px(14);
          top: 50%;
          transform: translateY(-50%) rotate(90deg);
          width: px(14);
          height: px(2);
          background-color: #919191;
        }
      }
    }
  }
  &-item {
    padding-bottom: px(10);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    img {
      width: auto;
      height: px(20);
    }
  }
  &-text {
    margin-top: px(6);
    font-size: px(14);
    color: #333;
  }
  &-price {
    margin-top: px(4);
    font-family: 'Montserrat', sans-serif;
    font-size: px(28);
    font-weight: bold;
    letter-spacing: -0.56px;
    span {
      font-family: 'SpoqaHanSansNeo', Dotum, Gulim, Sans-serif;
      font-size: px(16);
      font-weight: 500;
    }
    @at-root .npay & {
      color: #00c73c;
    }
    @at-root .gs25 & {
      color: #016fba;
    }
  }
  &-notice-title {
    margin-bottom: px(6);
    display: block;
    font-size: px(14);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.36px;
    color: #666;
    & ~ .point-exchange-notice-title {
      margin-top: px(6);
    }
  }
  &-notice {
    border-top: 1px solid #f1f1f1;
    padding-top: px(22);
    dl {
      margin-bottom: px(6);
    }
    dt,
    dd {
      font-size: px(14);
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: -0.36px;
      color: #666;
    }
    dt {
      float: left;
      span {
        margin: 0 px(4);
        font-size: px(14);
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: -0.36px;
        color: #666;
      }
      & ~ dt {
        margin-top: px(6);
      }
    }
    dd {
      overflow: hidden;
      & ~ dd {
        margin-top: px(6);
      }
    }
    & > ul {
      margin-bottom: px(24);
    }
    li {
      position: relative;
      padding-left: px(18);
      font-size: px(14);
      font-weight: normal;
      color: #999;
      & + li {
        margin-top: px(6);
      }
      &::before {
        content: '';
        position: absolute;
        top: px(6);
        left: px(8);
        width: px(2);
        height: px(2);
        background-color: #999;
      }
      ul {
        margin-top: px(6);
      }
      li {
        padding-left: 0;
        &::before {
          display: none;
        }
      }
    }
  }
}
.dashed-line {
  height: 1px;
  background: repeating-linear-gradient(
    to right,
    transparent,
    transparent 4px,
    #d3d3d3 4px,
    #d3d3d3 9px
  );
}
.btn-exchange {
  position: sticky;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: px(64);
  background-color: #3383fd;
  font-size: px(18);
  font-weight: bold;
  color: #fff;
}
.setting-list {
  padding-top: px(10);
}
.setting-item {
  a {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 px(20);
    height: px(60);
    font-size: px(16);
    font-weight: 500;
    color: #333;
    &::after {
      content: '';
      width: px(18);
      height: px(18);
      background: url(../images/icon_arr.svg) center / 100% no-repeat;
    }
  }
}

.drawer {
  display: none;
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.65);
  &-paper {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top-left-radius: px(14);
    border-top-right-radius: px(14);
    background-color: #fff;
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: px(30);
    .title {
      font-size: px(18);
      font-weight: bold;
      color: #111;
    }
    .warning {
      display: block;
      margin-top: px(16);
      font-size: px(16);
      font-weight: bold;
      color: #3383fd;
    }
    .desc {
      margin-top: px(6);
      font-size: px(16);
      font-weight: normal;
      color: #333;
    }
    &.notice {
      min-height: 190px;
    }
    &.alert {
      min-height: 136px;
      align-items: center;
    }
    &.term {
      padding: px(22) px(24);
    }
  }
  .btn-wrap {
    display: flex;
    height: px(64);
    .btn {
      font-size: px(18);
      font-weight: bold;
      height: 100%;
      flex-shrink: 0;
      &.primary {
        flex-grow: 1;
        background-color: #3383fd;
        color: #fff;
      }
      &.secondary {
        width: px(132);
        background-color: #edf2fb;
        color: #3383fd;
      }
    }
  }
}
.chk {
  display: block;
  position: relative;
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    & + label {
      display: block;
      position: relative;
      padding: 0 0 0 px(32);
      font-size: px(14);
      font-weight: normal;
      line-height: 1.5;
      color: #111;
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        @include bgf;
        width: px(22);
        height: px(22);
        background-image: url('../images/icon_check_small_off.svg');
      }
    }
    &:checked + label {
      color: #111;
      &:before {
        content: '';
        background-image: url('../images/icon_check_small_on.svg');
      }
    }
  }
  &.all {
    display: inline-block;
    input {
      & + label {
        font-size: px(16);
        font-weight: 700;
        color: #111111;
        &:before {
          width: px(22);
          height: px(22);
          border-radius: px(4);
          background-color: #ddd;
          background-image: url('../images/icon_check_box.svg');
          background-size: px(13) px(10);
          background-position: center;
        }
      }
      &:checked + label {
        &:before {
          background-color: #3383fd;
        }
      }
    }
  }
}
.term-chk-list {
  li {
    display: flex;
    align-items: center;
    position: relative;
    & ~ li {
      margin-top: px(10);
    }
    .btn-link {
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      @include bgf;
      width: px(18);
      height: px(18);
      background-image: url('../images/icon_terms.svg');
      background-size: px(8) px(12);
      background-position: right center;
    }
  }
}
.link-list {
  @extend .term-chk-list;
  li {
    .btn-link {
      width: 1.2rem;
      height: 1.8rem;
      background-image: url(../images/icon_arr.svg);
      background-size: 100%;
    }
  }
}
.history-title-header {
  position: relative;
  .select-box {
    position: relative;
    width: px(130);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: px(16);
    font-weight: normal;
    line-height: 1.31;
    letter-spacing: -0.48px;
    text-align: center;
    color: #111;
    .month {
      margin-left: px(4);
      font-weight: bold;
    }
    &::after {
      content: '';
      margin-left: px(8);
      display: inline-block;
      border-style: solid;
      border-width: px(7) px(5) 0 px(5);
      border-color: #666 transparent transparent transparent;
    }
    select {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      padding: 0 px(20);
    }
  }
  .btn-text {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: px(12);
    font-weight: normal;
    line-height: 1.75;
    letter-spacing: -0.36px;
    color: #3383fd;
  }
}
.history-title {
  margin-bottom: px(8);
  font-size: px(34);
  font-weight: bold;
  line-height: px(58);
  text-align: center;
  letter-spacing: normal;
  color: #000;
}
.history-list {
  margin: px(13) px(-20) 0;
}
.history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ededed;
  padding: 0 px(20);
  height: px(85);
  .left-area {
    min-width: 0;
  }
  .right-area {
    margin-left: px(10);
    text-align: right;
    white-space: nowrap;
    max-width: calc(100% - 190px);
    min-width: 80px;
    .price {
      display: block;
      font-size: px(18);
      font-weight: bold;
      letter-spacing: normal;
      line-height: 1.17;
      text-overflow: ellipsis;
      overflow: hidden;
      &.plus {
        color: #3383fd;
      }
      &.minus {
        color: #f14d4d;
      }
    }
    .balance {
      display: block;
      font-size: px(12);
      font-weight: normal;
      letter-spacing: normal;
      line-height: 1.75;
      color: #c4c4c6;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .reason {
    display: flex;
    font-size: px(16);
    font-weight: normal;
    line-height: 1.31;
    color: #000;
    .basis {
      max-width: px(90);
      letter-spacing: -0.48px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .card {
      display: inline-block;
      margin-left: px(3);
      max-width: px(80);
      letter-spacing: -0.48px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .type {
      margin-left: px(3);
    }
  }
  .date-time {
    margin-top: px(3);
    font-size: px(12);
    font-weight: normal;
    line-height: 1.75;
    color: #c4c4c6;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
     .date {
      margin-right: px(3);
      letter-spacing: normal;
     }
     .time {
      letter-spacing: normal;
     }
  }
}
.tablist-box {
  flex-shrink: 0;
  display: flex;
  height: px(42);
  border-radius: px(8);
  background-color: #edf2fb;
  button {
    flex: 1;
    border-radius: px(8);
    font-size: px(14);
    font-weight: normal;
    color: #3383fd;
    &[aria-selected='true'] {
      background-color: #3383fd;
      color: #fff;
      font-weight: bold;
    }
  }
  &.basic {
    margin-top: px(25);
    background-color: transparent;
    height: px(35);
    button {
      flex: none;
      font-size: px(14);
      font-weight: bold;
      color: #111;
      border-radius: 0;
      border-bottom: 3px solid transparent;
      &[aria-selected='true'] {
        border-bottom: 3px solid #3383fd;
        background-color: transparent;
        color: #3383fd;
      }
      & + button {
        margin-left: px(16);
      }
    }
  }
  @at-root .tab-menu & {
    margin-top: px(6);
  }
}
.save-info {
  position: relative;
  width: 100%;
  height: px(320);
  text-align: center;
  span {
    position: absolute;
    top: px(10);
    left: 50%;
    transform: translateX(-50%);
    font-size: px(16);
    font-weight: normal;
    letter-spacing: -0.48px;
    color: #202434;
    white-space: nowrap;
  }
  strong {
    position: absolute;
    top: px(35);
    left: 50%;
    transform: translateX(-50%);
    font-size: px(36);
    font-weight: bold;
    letter-spacing: -1.08px;
    color: #202434;
    white-space: nowrap;
  }
  p {
    position: absolute;
    bottom: px(50);
    left: 50%;
    transform: translateX(-50%);
    font-size: px(22);
    font-weight: bold;
    letter-spacing: -0.66px;
    color: #202434;
    em {
      color: #3383fd;
    }
  }
  .lottie-wrap {
    height: 100%;
    &::before {
      content: '';
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: px(110);
      height: px(110);
      background: url(../images/img_coin.png) center / px(110) no-repeat;
    }
  }
  &.bonus {
    .lottie-wrap {
      &::before {
        transform: translate(-73%, -39%);
      }
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-19%, -55%);
        width: px(110);
        height: px(110);
        background: url(../images/img_coin.png) center / px(110) no-repeat;
      }
    }
  }
}
.save-desc {
  margin-top: px(-15);
  width: calc(100% - px(40));
  border-radius: 16px;
  background-color: #f4f6f8;
  padding: px(12);
  p {
    text-align: center;
    font-size: px(18);
    line-height: 1.45;
    font-weight: bold;
    letter-spacing: -0.66px;
    color: #202434;
    em {
      color: #3383fd;
    }
  }
  &.bonus {
    margin-top: px(-55);
    background-color: transparent;
    text-align: center;
    width: 100%;
    p {
      font-size: px(16);
      font-weight: normal;
    }
    strong {
      margin-top: px(6);
      display: block;
      font-size: px(22);
      font-weight: bold;
      em {
        color: #3383fd;
      }
    }
  }
}
.coupon-list {
  margin-top: px(16);
  margin-bottom: px(10);
}
.coupon-item {
  border-radius: px(13);
  border: solid 1px #d9d9d9;
  background-color: #fff;
  .btn-coupon {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: px(16);
    min-height: px(120);
    text-align: left;
  }
  .coupon-img-box {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: px(72);
    height: px(72);
    border-radius: 50%;
    border: solid 1px #f9f9f9;
    background-color: #f1f1f1;
    img {
      width: px(48);
      height: px(30);
    }
  }
  .coupon-info {
    padding: px(14) px(20) px(14) px(12);
  }
  .coupon-name {
    font-size: px(14);
    font-weight: 500;
    color: #000;
    letter-spacing: -0.28px;
  }
  .coupon-desc {
    margin-top: px(3);
    font-size: px(18);
    font-weight: bold;
    color: #000;
    letter-spacing: -0.54px;
    @include elip(l2);
  }
  .coupon-validity {
    display: block;
    margin-top: px(4);
    font-size: px(13);
    font-weight: normal;
    color: #666;
    letter-spacing: normal;
  }
  .coupon-state {
    flex-shrink: 0;
    width: px(65);
    margin-left: auto;
    border-left: 1px dashed #d5d5d5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: px(65);
    min-height: px(100);
    font-size: px(15);
    font-weight: bold;
    color: #000;
    text-align: center;
    word-break: break-all;
  }
  & + & {
    margin-top: px(6);
  }
  &.usable {
    .coupon-state {
      color: #3383fd;
    }
  }
  &.expired {
    .coupon-img-box img, .coupon-info {
      opacity: 0.3;
    }
    .coupon-state {
      color: #c1c1c1;
    }
  }
}
.coupon-list-empty {
  height: px(300);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: px(16);
  color: #666;
  letter-spacing: -0.48px;
}
.point-list-empty {
  height: px(160);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: px(16);
  color: #666;
  letter-spacing: -0.48px;
}
.coupon-detail {
  &-top {
    padding: px(14) 0 px(24);
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  &-img {
    margin-top: px(5);
    margin-bottom: px(12);
    display: flex;
    justify-content: center;
    align-items: center;
    width: px(110);
    height: px(110);
    background-color: #f1f1f1;
    border-radius: 50%;
    img {
      width: px(73);
      height: px(44);
    }
  }
  &-title {
    font-size: px(14);
    font-weight: normal;
    color: #333;
    line-height: 1.79;
  }
  &-code {
    margin-top: px(2);
    font-size: px(24);
    font-weight: bold;
    color: #111;
    letter-spacing: normal;
  }
  &-barcode {
    margin: px(8) 0;
    img {
      max-height: px(80);
    }
  }
  &-list {
    border-top: 8px solid #f5f5f5;
    padding: px(14) px(20);
    width: 100%;
  }
  &-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: px(54);
    span {
      font-size: px(14);
      font-weight: normal;
      letter-spacing: -0.42px;
      color: #666;
    }
    strong {
      font-size: px(14);
      font-weight: bold;
      letter-spacing: -0.42px;
      color: #111;
    }
    & + & {
      border-top: 1px solid #f1f1f1;
    }
  }
}
.bottom-notice {
  &-wrap {
    padding: px(20);
    width: 100%;
    flex: 1;
    background-color: #f5f5f5;
  }
  &-title {
    margin-bottom: px(12);
    display: block;
    font-size: px(14);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.36px;
    color: #666;
    & ~ & {
      margin-top: px(12);
    }
  }
  &-list {
    position: relative;
    padding-left: px(18);
    font-size: px(14);
    font-weight: normal;
    color: #999;
    & + li {
      margin-top: px(6);
    }
    &::before {
      content: '';
      position: absolute;
      top: px(8);
      left: px(8);
      width: px(2);
      height: px(2);
      background-color: #999;
    }
    ul {
      margin-top: px(6);
    }
    li {
      padding-left: 0;
      &::before {
        display: none;
      }
      & + li {
        margin-top: px(6);
      }
    }
    a {
      color: #3383fd;
    }
  }
}