@charset "utf-8";
@import 'module';
@import 'swiper';

#wrap {
  .primary-color {
    @include primary-color;
  }
  .secondary-color {
    @include secondary-color;
  }
  .default-black-color {
    @include default-black-color;
  }
  .default-white-color {
    @include default-white-color;
  }
  .btn-unclickable {
    background-color: #ADB2C5;
  }
  .btn-view-more {
    height: px(64);
    border-top: px(1) solid #E5E9EF;
    margin-bottom: px(14);
    font-size: px(16);
    text-decoration: none;
  }
	[aria-hidden='true'] {
			display: none !important;
	}
	[aria-hidden='false'] {
			display: block;
	}
  header.header {
    height: px(52);
    background-color: transparent;
    h1.page-tit {
      font-weight: inherit;
    }
    .btn-back {
      left: px(6);
    }
    .btn-share {
      right: px(6);
    }
    &-white {
			h1 {
				color:#fff;
			}
			[class^=btn-] {
				&.btn-back {
					i {
						background: url(../images/icon_back_white.svg) center no-repeat;
					}
				}
			}
		}
    &-black {
			h1 {
				color:#202434;
			}
			[class^=btn-] {
				&.btn-back {
					i {
						background: url(../images/icon_back_black.svg) center no-repeat;
					}
				}
			}
		}
  }
  [data-ui-fixed='bottom'] {
    color: #fff;
    font-weight: 700;
    font-size: px(16);
    line-height: px(20);
    border-radius: 0;
  }

  .look-landing {
    padding-bottom: px(56);
		overflow-x: hidden;
		.top-swipe {
      width: 100%;
			max-width: 300px;
			.swiper-slide-active {
				.card-flip-rotate {
					animation-name: flip;
					animation-duration: .7s;
					animation-fill-mode: forwards;
				}
			}
			.card-flip {
				position: relative;
				width: 80px;
				height: 120px;
				margin: 0 auto;
				// perspective: 100rem;
				transform-style: preserve-3d;
				&_card {
					width: 100%;
					height: 100%;
					backface-visibility: hidden;
					&-front {
						position: absolute;
						transform: rotateY(0deg);
					}
					&-back {
						transform: rotateY(-180deg);
					}
					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}
    .head-content {
      padding-bottom: px(58);
			.content-title-box {
				flex-direction: column;
			}
			.content-title {
				&.main {
					width: 100%;
				}
        strong {
          font-weight: inherit;
          color: #3383FD;
        }
			}
      // button.image {
      //   width: 100%;
      //   // margin-top: px(-45);
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   img {
      //     max-width: px(297);
      //     max-height: px(421);
      //   }
      // }
			.image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
				&_item {
					&-hide {
						display: none;
					}
				}

        img {
          max-width: px(297);
          max-height: px(421);
        }
      }
			.card-img {
				display: flex;
				justify-content: center;
				margin-top: px(21);
			}
      &-nomydata {
        padding-bottom: px(20);
        .content-title-box {
          flex-direction: row;
        }
      }
    }
    .content-title-box {
			.desc {
        margin-top: px(6);
				font-size: px(14);
				font-weight: 400;
				line-height: px(18);
				letter-spacing: -0.03em;
				text-align: left;
				
			}
      .link {
        margin-top: px(5);
        font-weight: 400;
        color: #3E4459;
        &::after {
          background: url(../images/icon_right_link.svg) center no-repeat;
        }
      }
			.cta-desc {
				display: inline-flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: px(8) px(12);
				margin-top: px(27);
				font-size: px(14);
				font-weight: 400;
				line-height: px(18);
				letter-spacing: -0.03em;
				text-align: center;
				background: #F4F6F8;
				border-radius: px(12);
			}
    }
    .content-title {
      text-align: left;
      &.main {
        padding-left: 0;
				position: relative;
        font-size: px(20);
        font-weight: 700;
				line-height: px(30);
				letter-spacing: -0.03em;
				span {
					font-size: px(20);
					font-weight: 700;
					line-height: px(30);
					color: #3383FD;
          letter-spacing: -0.03em;
				}				
				img {
					width: auto;
					vertical-align: middle;
				}
      }
			&.figure {
				width: 100%;
        position: relative;
				text-align: center;
        &.cta {
          height: px(268);
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
        }
			}
    }
		.gift {
			display: none;
			.card-info {
				display: block;
			}
		}
		.flip-title-before ,
		.flip-title-after {
      height: px(84);
    }
		.flip-title-after {
			display: none;
		}
		.card-info {
			display: none;
      margin-top: px(10);
      .desc {
        color: #7E8292;
        text-align: center;
        &+p {
          margin-top: px(6);
          font-size: px(16);
          font-weight: 700;
          line-height: px(20);
          letter-spacing: -0.03em;
        }
      }
      .btn-wrap {
        justify-content: center;
      }
      .btn-action {
        flex: 0 0 auto;
        height: px(38);
        padding: px(8);
        margin-top: px(12);
        font-size: px(14);
        line-height: px(22);
        font-weight: 700;
        letter-spacing: -0.03em;
        text-align: center;
      }
		}
		.badge {
			width: px(40);
			height: px(55);
			background-image: url(../images/icon_ai-recommand.svg);
			background: {
				size: px(40);
				position: center center;
				repeat: no-repeat;
			}
			position: absolute;
			top: 0;
			right: 0;
			font-size: 0;
			line-height: 0;
			color: transparent;
			text-indent: px(-9999);
		}

    .look-event-content {
      padding-top: px(40);
      .event-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: px(24);
        > p {
          font-weight: 700;
          font-size: px(20);
          line-height: 1.3;
          letter-spacing: -0.03em;
        }
        .more {
          display: flex;
          align-items: center;
          justify-content: center;
          height: px(23);
          padding:0 px(8);
          background-color: #F4F6F8;
          border-radius: px(12);
          font-size: px(12);
          color: #202434;
          letter-spacing: -0.03em;
        }
      }
    }
    .event-link {
      color: #202434;
    }
    .event-figure {
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
    .benefit-tag {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      height: px(38);
      padding: 0 px(14);
      background-color:#E9EEFF;
      border-radius: px(12);
      font-size: px(14);
      font-weight: 700;
      @include primary-color;
      line-height: px(22);
    }
    .event-rank_top {
      .event-link {
        display: grid;
        flex-wrap: wrap;
        align-items: center;
        grid-template-columns: px(116) 1fr;
        grid-gap: px(20);
        margin-bottom: px(40);
      }
      .event-figure {
        padding-top: px(149.5);
      }
      .info {
        &-rank {
          display: block;
          padding-bottom: px(4);
          font-size: px(22);
          font-weight: 700;
          @include primary-color;
        }
        &-name {
          padding-bottom: px(4);
          font-size: px(18);
          font-weight: 700;
          letter-spacing: -0.05em;
          @include ellipse(2);
        }
        &-desc {
          margin-bottom: px(8);
          font-size: px(14);
          line-height: px(22);
          @include ellipse(2);
        }
      }
    }
    .event-rank_list {
			padding-bottom: px(20);
      .event-link {
        display: grid;
        flex-wrap: wrap;
        align-items: center;
        grid-template-columns: px(40) 1fr px(98);
        grid-gap: px(8);
      }
      .event-figure {
        padding-top: px(64);
      }
      .info {
        &-rank {
          display: flex;
          align-items: center;
          gap: px(2);
          font-size: px(14);
          font-weight: 700;
          color: #3E4459;
        }
        &-name {
          font-size: px(14);
          font-weight: 400;
          letter-spacing: -0.03em;
          @include ellipse(1);
          color: #7E8292;
        }
        &-desc {
          margin-top: px(4);
          font-size: px(15);
          font-weight: 700;
          line-height: px(22);
          @include ellipse(3);
        }
      }
			.list-item {
        margin-bottom: px(40);
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			.list-item-banner {
				padding: px(22) px(20);
				margin: 0 px(-20) px(40) px(-20);
				display: flex;
				justify-content: space-between;
				background-color: #F4F6F8;
				.text {
					width: px(170);
					font-size: px(16);
					font-weight: 700;
					line-height: px(24);
					letter-spacing: -0.05em;
					text-align: left;
					strong {
						color: #05AB65;
						font-weight: 700;
					}
				}
				.number {
					max-width: px(130);
					width: px(130);
          
					height: px(38);
					padding: px(7.5) px(8);
					display: flex;
					align-items: center;
					font-size: px(18);
					font-weight: 700;
					line-height: px(23);
					letter-spacing: 0.05em;
					color: #fff;
					background-color: #3E4459;
					box-shadow: inset 0 px(2) px(4) rgba(0, 0, 0, 0.15);
					border-radius: px(4);
					&::after {
						content: '원';
            display: inline-block;
            padding-left: px(4);
            margin-left: auto;
					}
					* {
						font-size: px(18);
						font-weight: 700;
						line-height: px(23);
						letter-spacing: inherit;
					}
				}
			}
    }
    .look-event-swipe {
			padding-top: px(70);
      padding-bottom: px(24);
      .event-swipe {
        padding-bottom: px(40);
      }
      .event-link {
        text-align: center;
      }
      .event-figure {
        max-width: px(91);
        padding-top: px(144);
        margin: 0 auto px(8);
      }
      .info {
        &-name {
          padding-bottom: px(8);
          font-size: px(20);
          font-weight: 700;
        }
        &-desc {
          padding-bottom: px(8);
          font-size: px(14);
          span {
            display: inline-block;
            font-weight: 700;
          }
        }
      }
      .benefit-tag {
        display: block;
        height: initial;
        background-color: initial;
        padding: 0;
        font-size: px(14);
        font-weight: 400;
        color: #3E4459;
        text-align: center;
        span {
          font-size: inherit;
        }
      }
    }
    .cardcorp-content {
      padding: px(40) px(20);
      background-color: #F4F6F8;
      .content-title-box {
        padding-bottom: px(24);
      }
      .cardcorp-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }

      .list-item {
        position: relative;
        display: block;
        min-width: px(69);
        min-height: px(69);
        width: calc(25% - px(9));
        padding-top: calc(25% - px(9));
        margin: px(5.5) px(11) px(5.5) 0;
        background-color: #fff;
        border-radius: px(20);
        &:nth-child(4n) {
          margin-right: 0;
        }
        > div {
          position: absolute;
          top: 50%;
          left: 50%;
          transform:translate(-50%, -50%);
        }
      }
    } 
  }

  .look-letter {
    .head-content {
      padding-bottom: px(46);
			.content-title-box {
				flex-direction: column;
			}
			.content-title {
				&.main {
					width: 100%;
				}
			}
    }
    .btn-wrap.full [class^=btn-] {
      height: px(64);
    }
    .content-title-box {
			.desc {
        margin-top: px(4);
				font-size: px(16);
				font-weight: 400;
				line-height: px(20);
				letter-spacing: -0.03em;
				text-align: left;
			}
			.cta-desc {
				display: inline-flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				padding: px(8) px(12);
				margin-top: px(27);
				font-size: px(14);
				font-weight: 400;
				line-height: px(18);
				letter-spacing: -0.03em;
				text-align: center;
				background: #F4F6F8;
				border-radius: px(12);
			}
    }
    .content-title {
      text-align: left;
      &.main {
        padding-left: 0;
				position: relative;
        font-size: px(20);
        font-weight: 700;
				line-height: px(30);
				letter-spacing: -0.03em;
				span {
					font-size: px(20);
					font-weight: 700;
					line-height: px(30);
					color: #3383FD;
          letter-spacing: -0.03em;
				}
      }
			&.figure {
				margin-top: px(48);
				text-align: center;
        p {
          margin-top: px(24);
          font-size: px(16);
          font-weight: 400;
          line-height: px(24);
          letter-spacing: 0;
        }
			}
    }
  }
	#pop-eventTermAgree {
    .drawer-content {
      padding-top: px(20);
    }
    .title {
      padding-top: px(22);
      margin-bottom: px(16);
      font-size: px(16);
      line-height: px(22);
    }
    .term-chk-list {
      margin-bottom: px(28);
      li ~ li {
        margin-top: px(16);
      }
      label {
        font-size: px(15);
      }
    }
    .btn-wrap .btn {
      font-size: px(16);
    }
  }
  #pop-eventList {
    .drawer-paper.wrap {
      padding-top: px(18);
    }
    .drawer-content {
      max-height: 80vh;
    }
    .wrap-scroll {
      padding: 0;
    }
    .btn-wrap .btn {
      font-size: px(16);
    }
    .link-list {
      margin-top: px(24);
    }
    .logo {
      width: px(48);
      height: px(48);
      margin-right: px(6);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFFFFF;
      // box-shadow: 0 0.4rem 0.4rem #f4f6f8;
      border-radius: px(16);
    }
    .item-title {
      padding-right: px(25);
      font-size: px(16);
      font-weight: 700;
      line-height: px(26);
      letter-spacing: -0.03em;
      text-align: left;
      strong {
        font-weight: inherit;
        color: #3383FD;
      }
    }
  }
  #pop-eventListEmpty {
    .drawer-paper.wrap {
      padding-top: px(18);
    }
    p.desc {
      margin-top: px(8);
      margin-bottom: px(58);
      font-size: px(14);
      font-weight: 400;
      line-height: px(21);
      letter-spacing: -0.03em;
    }
    .btn-wrap .btn {
      font-size: px(16);
    }
  }

	.tab-menu {
		.tablist-box.type1 {
			padding: px(4);
			margin: 0 px(12) 0;
			gap: px(9);
			background-color: transparent;
			button {
				flex: 1 0 auto !important;
				font-size: px(14);
				font-weight: 400;
				color: #3E4459;
				background-color: transparent;
				&[aria-selected=true] {
					font-weight: 700;
					color: #3383FD;
					background-color: transparent;
				}
				&:not(:first-of-type) {
					position: relative;
					&::before {
						content: '';
						width: px(1);
						height: px(8);
						display: inline-block;
						position: absolute;
						left: px(-2);
						background-color: #E5E9EF;
					}
				}
			}
		}
		.tablist-box.type2 {
			height: px(34);
			margin-bottom: px(12);
			gap: px(9);
			background-color: transparent;
			button {
				flex-grow: initial;
				flex-shrink: 0;
				flex-basis: auto;
				padding: px(4) px(10);
				font-size: px(14);
				line-height: 1;
				font-weight: 400;
				color: #656B81;
				background-color: #F4F6F8;
				border-radius: px(20);//임시
				&[aria-selected=true] {
					color: #fff;
					background-color: #3E4459;
				}
			}
		}
		.tablist-box.type3 {
			height: px(47);
      margin-top: 0;
			background-color: transparent;
			button {
				font-size: px(16);
				font-weight: 400;
				line-height: px(20);
				letter-spacing: -0.03em;
				color: #7E8292;
				border-radius: 0;
				background-color: transparent;
				border-bottom: px(2) solid #F4F6F8;
				&[aria-selected=true] {
					font-weight: 700;
					color: #202434;
					border-color: #202434;
				}
			}
		}
	}
	.tab-content-box {
		width: 100%;
		padding: px(12);
		// background-color: #F4F6F8;
		// border-radius: px(24);
		.content {
			&-top {
				min-height: px(168);
				gap: px(5);
				display: flex;
				justify-content: center;
				.bar {
					width: px(72);
					max-height: calc(100% - 20px);
					position: relative;
					&-0 {
						.fig, .stat {
							background-color: #3383FD;
						}
						&.nodata {
							.fig, .stat {
								background-color: #ADB2C5;
							}
						}
					}
					&-1 {
						.fig, .stat {
							background-color: #3E4459;
						}
					}
				}
				.fig {
					max-width: 100%;
					padding: px(4) px(10);
					margin: 0 auto;
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					color: #fff;
					font-weight: 400;
					font-size: px(14);
					line-height: px(19);
					letter-spacing: -0.03em;
					text-align: center;
					border-radius: px(8);
				}
				.stat {
					width: px(26);
					margin: 0 auto;
					position: absolute;
					bottom: px(26);
					left: 0;
					right: 0;
					border-radius: px(8) px(8) px(0) px(0);
				}
				.name {
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					width: px(72);
					font-size: px(14);
					line-height: px(18);
					font-weight: 500;
					text-align: center;
					letter-spacing: -0.03em;
					color: #202434;
				}
			}
			&-bottom {
				padding: px(16);
				margin-top: px(12);
				background-color: #fff;
				border-radius: px(16);
				.title {
					font-weight: 500;
					font-size: px(16);
					line-height: px(20);
					letter-spacing: -0.03em;
					color: #202434;
				}
				p {
					margin-top: px(6);
					font-weight: 400;
					font-size: px(14);
					line-height: px(21);
					letter-spacing: -0.03em;
					color: #202434;
				}
			}
		}
	}

	.drawer {
		.btn-wrap .btn {
			font-size: px(18);
		}
	}
	.drawer-paper {
		border-top-left-radius: 2.4rem;
		border-top-right-radius: 2.4rem;
		&.wrap {
			.wrap-scroll {
				max-height: 60vh;
				padding: 1.6rem 0 2.6rem;
				overflow-y: auto;
			}
		}
	}
	.drawer-content {
		max-height: 100%;
		padding-left: px(20);
		padding-right: px(20);
    position: relative;
    .btn-close {
      width: px(22);
      height: px(22);
      position: absolute;
      right: px(20);
      top: px(20);
      font-size: 0;
      i {
        @include bgf;
        width: px(22);
        height: px(22);
      }
      i {
        background: url(../images/icon_close.svg) center no-repeat;
        background-size: px(22) auto;
      }
    }
		.title {
			width: 100%;
			text-align: left;
		}
	}

	.msg {
		opacity: 0;
		z-index: 40;
		max-width: 80%;
		position: fixed;
		bottom: px(82);
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: px(17);
		overflow: hidden;
		p {
			padding: px(8) px(16);
			font-weight: 400;
			font-size: px(14);
			line-height: px(18);
			text-align: center;
			letter-spacing: -0.03em;
			white-space: nowrap;
			color: #fff;
			background: #111111;
		}
		strong {
			display: inline-block;
			font-weight: 700;
		}
		span.br {
			display: block;
		}
	}

	#pop-eventInfoTerm {
		.desc {
			* {
				font-size: px(14);
				text-align: left;
			}
			ol {
				margin-top: px(12);
			}
			li {
				position: relative;
				padding-left: px(16);
				&::before {
					content: '·';
					position: absolute;
					top: px(2);
					left: 0;
					font-size: px(28);
					border-radius: 50%;
				}
				&+li {
					margin-top: px(8);
				}
			}
		}
		.bottom-title {
			margin-top: px(24);
			text-align: right;
		}
		.bottom-date {
			margin-top: px(8);
			text-align: right;
		}
	}

	.look-main {
    margin-top: px(-52);
		.secondary-color {
			color: #FFC700;
		}
		section.content:last-of-type {
			margin-bottom: px(36);
		}
    .head-content {
      padding-top: px(52);
      padding-bottom: px(60);
			position: relative;
			background-color: #3383FD;
			.content-title-box {
				flex-direction: column;
				align-items: flex-start;
			}
			.content-title {
				&.main {
					padding-top: px(24);
					font-size: px(27);
					color: #D0E3FF;
					span {
						display: inline-block;
						&:first-of-type {
							display: block;
						}
						&:not(:first-of-type) {
							margin-top: px(6);
						}
					}
				}
			}
			&::after {
				content: '';
				width: 100%;
				height: px(40);
				position: absolute;
				bottom: px(8);
				left: 0;
				right: 0;
				background-image: url("../images/icon_arr-scrolldown.svg");
				background: {
					size: px(40);
					position: center center;
					repeat: no-repeat;
				}
			}
    }
		.no-content-border {
			border-top: 0;
			padding-top: px(20);
			padding-bottom: px(16);
		}
    .content-title {
			text-align: left;
      &.main {
        padding-left: 0;
        font-size: px(20);
				line-height: px(30);
        font-weight: bold;
      }
			&.figure {
				width: 100%;
				margin-top: px(32);
				display: block;
				text-align: right;
			}
    }
		.carousel {
			overflow-x: hidden;
			&-navi {
				padding: px(2) 0 0;
				margin: 0 auto;
				position: relative;
				text-align: center;
			}
			&-prev ,
			&-next {
				position: absolute;
				top: 0;
				width: px(20);
				height: px(20);
				background-image: url(../images/icon_nav.svg);
				background: {
					size: 100%;
					repeat: no-repeat;
					position: center;
				}
			}
			&-prev {
				left: 0;
			}
			&-next {
				transform: rotate(180deg);
				right: 0;
			}
			.slide-title {
				font-size: px(14);
				font-weight: 700;
				color: #202434;
			}
		}

		.tag-content {
      padding-top: px(40);
      border-top: 0;
      .content-title-box {
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
      }
			.current-tag {
				margin-top: px(16);
				display: flex;
				flex-wrap: wrap;
				gap: px(8);
				span {
					padding: px(4) px(6);
					color: #3383FD;
					font-size: px(16);
          font-weight: 500;
					line-height: px(20);
					background-color: #E9EEFF;
					border-radius: px(6);
				}
			}
    }

		.chart-content {
      margin-bottom: px(24);
			.content-title {
				&.main {
					font-size: px(22);
					letter-spacing: -0.03em;
				}
				&.sub {
					font-weight: 400;
				}
			}
			.content-desc {
				display: flex;
				align-items: center;
				div {
					font-size: px(16);
					font-weight: bold;
					letter-spacing: 0.03rem;
					@include default-black-color;
				}
			}
			.btn-calendar {
				width: px(24);
				height: px(24);
				display: inline-block;
				background-image: url("../images/icon_calendar-search.svg");
				background: {
					size: px(24);
					position: center center;
					repeat: no-repeat;
				}
			}
		}
		.chart {
			&-title {
				padding: px(10.5);
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				font-size: px(15);
				font-weight: 500;
				color: #3E4459;
				background-color: #F4F6F8;
				border-radius: px(8);
				b {
					font-weight: 800;
				}
			}
			&-graph {
				position: relative;
				padding: px(16) 0 px(10);
				text-align: center;
				.tip {
					position: absolute;
					top: px(40);
					left: px(25);
				}
			}
			&-desc {
				text-align: center;
				font-size: px(14);
				color: #9BA2BC;
			}
		}

		.chart-box {
			margin: 0 auto;
			div {
				margin: 0 auto;
			}
		}
		.chart-detail {
			padding: 0 px(24) px(16);
			margin-top: px(16);
			position: relative;
			background-color: #F4F6F8;
			border-radius: px(12);
			overflow: visible;
			&::after {
				// content: '';
				position: absolute;
				top: calc(100% - 1px);
				left: 0;
				right: 0;
				height: px(13);
				background-image: url(../images/bg_wave-gray.svg);
				background: {
					position: center bottom;
					size: cover;
					repeat: no-repeat;
				}
			}
			&--opened {
				.chart-detail_top::after {
					transform: rotate(90deg);
				}
				.chart-detail_list {
					display: block;
				}
			}
			&--closed {
				.chart-detail_top::after {
					transform: rotate(-90deg);
				}
				.chart-detail_list {
					display: none;
				}
			}
			&_top {
				padding: px(16) 0 0;
				display: flex;
				align-items: center;
				&::after {
					content: '';
					margin-left: px(5);
					width: px(15);
					height: px(15);
					background-image: url(../images/icon_arr.svg);
					background: {
						size: 100%;
						repeat: no-repeat;
						position: center;
					}
				}
				.colorchip {
					flex-shrink: 0;
					width: px(16);
					height: px(16);
					margin-right: px(8);
					display: inline-block;
					background-color: #3383FD;
					border-radius: px(6);
				}
			}
			&-title {
				flex-shrink: 1;
				justify-self: stretch;
				display: flex;
				align-items: center;
				div {
					flex-basis: 60%;
					flex-shrink: 1;
					margin-right: px(4);
					font-size: px(16);
					font-weight: 700;
					line-height: px(20);
					letter-spacing: -0.03em;
					color: #202434;
          @include ellipse(1);
				}
				span {
					display: inline-block;
					font-size: px(16);
					font-weight: 400;
					line-height: px(20);
					letter-spacing: -0.03em;
					color: #9BA2BC;
				}
			}
			&-content {
				flex-shrink: 0;
				justify-self: flex-end;
				margin-left: auto;
				display: flex;
				align-items: center;
				div {
					font-size: px(16);
					font-weight: 400;
					line-height: px(20);
					letter-spacing: -0.03em;
					text-align: right;
				}
			}
			&_list {
				padding-top: px(16);
				margin-top: px(16);
				border-top: px(1) solid #E5E9EF;
				ol {
					li {
						display: flex;
						justify-content: space-between;
						&+li {
							margin-top: px(12);
						}
						div {
							font-size: px(14);
							line-height: px(18);
							font-weight: 400;
							color: #202434;
							&:first-of-type {
								width: 60%;
								@include ellipse(1);
							}
						}
					}
				}
			}
		}

		.analysis-content {
			padding: px(12) 0 0;
			margin-left: px(20);
			margin-right: px(20);
      margin-bottom: px(40);
			background-color: #F4F6F8;
			border-radius: px(24);
			.tablist-box {
				background-color: #fff;
			}
			.carousel {
				.content-top {
					min-height: calc(16.8rem - 20px);
				}
				.carousel-navi {
					width: px(120);
				}
			}
		}

		.btn-comparison {
			width: 100%;
			padding: px(16) px(12);
			margin: px(16) 0 px(32);
			position: relative;
			font-size: px(14);
			line-height: px(18);
			font-weight: 400;
			letter-spacing: -0.03em;
			text-align: left;
			color: #202434;
			border-radius: px(12);
			background-color: #fff;
			border: px(1) solid #E5E9EF;
			&::before {
				content: '';
				width: px(20);
				height: px(20);
				position: absolute;
				right: px(12);
				background-image: url(../images/icon_nav.svg);
				transform: rotate(-90deg);
				background: {
					size: 100%;
					repeat: no-repeat;
					position: center;
				}
			}
		}
		.comparison-content {
			.image {
				width: px(100);
				height: px(100);
				margin: 0 auto px(16);
				text-align: center;
				img {
					width: 100%;
				}
			}
			.carousel-navi {
				margin-top: px(24);
			}
			.swiper-pagination-bullet {
				width: px(6);
				height: px(6);
				margin-left: 0.3rem;
				margin-right: 0.3rem;
			}
			h3 {
				font-size: px(18);
				font-weight: 700;
				line-height: px(27);
				letter-spacing: -0.03em;
				text-align: center;
				color: #202434;
				&.pos {
					strong {color: #3383FD;}
				}
				&.neg {
					strong {color: #FD3333;}
				}
				&.nodata {
					strong {color: #ADB2C5;}
				}
				strong {
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					letter-spacing: inherit;
				}
				p {
					margin-top: px(8);
					font-size: px(14);
					font-weight: 400;
					line-height: px(19);
					letter-spacing: -0.03em;
				}
			}
			.tab-menu {
				margin-top: px(24);
			}
			.notice-box {
				width: 100%;
				padding: px(16) px(12);
				margin-top: px(16);
				background-color: #F4F6F8;
				border-radius: px(8);
			
				li {
					display: flex;
					align-items: flex-start;
					font-size: px(14);
					line-height: px(19);
					font-weight: 400;
					letter-spacing: -0.03em;
					color: #7E8292;
					word-break: break-all;
					&::before {
						content: '';
						width: px(14);
						height: px(14);
						flex-shrink: 0;
						margin-top: px(3);
						margin-right: px(6);
						display: inline-flex;
						background-image: url(../images/info-circle.svg);
						background: {
							size: 100%;
							position: center center;
							repeat: no-repeat;
						}
					}
				}
			}
		}
		.usage-list {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			.list-item {
				min-height: px(100);
				width: calc(33.333% - px(10));
				position: relative;
				display: block;
				gap: px(10);
				margin-bottom: px(10);
				.item-bg {
					min-width: px(100);
					min-height: px(100);
					// padding-top: calc(33.333% - px(10));
					padding-top: 100%; /* 1:1 비율 */
					position: relative;
					background-color: #3383FD;
					border-radius: px(20);
					overflow: hidden;
					.bg {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background-color: #F4F6F8;
					}
				}
				.item-logo {
					min-width: px(64);
					min-height: px(64);
					width: 50%;
					height: 50%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform:translate(-50%, -50%);
					img {
						width: 100%;
					}
				}
				.item-name {
					margin-top: px(4);
					font-weight: 400;
					font-size: px(14);
					line-height: px(18);
					letter-spacing: -0.05em;
					color: #3E4459;
				}
				.percent {
					margin-top: px(4);
					display: flex;
					align-items: center;
					justify-content: center;
					font-weight: 700;
					font-size: px(14);
					line-height: px(18);
					color: #ADB2C5;
					&::after {
						content: '';
						display: inline-block;
						width: px(20);
						height: px(20);
						background-image: url(../images/icon_nav.svg);
						transform: rotate(-90deg);
						background: {
							size: 100%;
							repeat: no-repeat;
							position: center;
						}
					}
					strong {
						font-size: px(14);
						font-weight: 700;
						line-height: px(18);
						letter-spacing: -0.03em;
						text-align: center;
					}
					&.pos {
						strong {color: #3383FD;}
					}
					&.neg {
						strong {color: #FD3333;}
					}
					&.nodata {
						strong {color: #ADB2C5;}
						&::after {
							content: none;
						}
					}
				}
				&-unclickable {
					.item-bg, 
          .bg {
						background-color: #E5E9EF;
					}
					.item-logo {
						filter: grayscale(1);
					}
				}
			}
		}
		.usage-rank-list {
			width: 100%;
			padding-top: 2rem;
			.title {
				font-weight: 400;
			}
			.thead {
				padding: px(12) 0 px(8);
				margin-bottom: px(12);
				border-bottom: px(1) solid #F4F6F8;
				.tr {
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
				.th {
					padding: 0 px(15) 0 0;
					font-size: px(14);
					font-weight: 400;
					line-height: px(18);
					letter-spacing: -0.05em;
					color: #7E8292;
					text-align: center;
					&:first-of-type {
						width: 50%;
						text-align: left;
					}
				}
			}
			.tbody {
				padding-bottom: px(10);
				.tr {
					width: 100%;
					padding-bottom: px(12);
					display: flex;
					align-items: center;
					&:last-of-type {
						padding-bottom: 0;
					}
				}
				.td {
					&:first-of-type {
						text-align: left;
						font-size: px(14);
						font-weight: 400;
						line-height: px(18);
						letter-spacing: -0.05em;
						color: #202434;
					}
					&:nth-of-type(2) {
						justify-self: flex-end;
						margin-left: auto;
						font-size: px(14);
						font-weight: 700;
						line-height: px(18);
						letter-spacing: -0.05em;
						text-align: right;
						color: #202434;
					}
					&:nth-of-type(3) {
						width: 27.5%;
						font-size: px(14);
						font-weight: 700;
						line-height: px(18);
						letter-spacing: -0.05em;
						text-align: right;
						color: #3383FD;
					}
				}
			}
		}
	}
	#pop-selectCard {
		.select {
			&:first-of-type {
				height: px(74);
			}
			padding: px(12) px(16);
			box-sizing: border-box;
			margin-bottom: px(8);
			display: flex;
			justify-content: space-between;
			border: px(1) solid #F4F6F8;
			border-radius: px(12);
			> div {
				display: flex;
				align-items: center;
				&:first-of-type {
					flex-direction: column;
					justify-content: center;
					align-items: flex-start;
				}
			}
			label {
				font-weight: 400;
				font-size: px(15);
				line-height: px(19);
				letter-spacing: -0.03em;
				color: #3E4459;
			}
			input[type='radio'] {
				width: px(20);
				height: px(20);
				display: flex;
				align-items: center;
				justify-content: center;
				border: px(1) solid #ADB2C5;
				border-radius: 50%;
			}
			&[aria-selected="true"] {
				color: #3383FD;
				border-color: #3383FD;
				label {
					color: #3383FD;
				}
				input[type='radio'] {
					border-color: #3383FD;
					&::before {
						content: '';
						width: px(10);
						height: px(10);
						display: block;
						border-radius: 50%;
						background-color: #3383FD;
					}
				}
			}
			ol {
				margin-top: px(6);
				display: flex;
				.cate,
				.code {
					padding: px(4) px(6);
					margin-right: px(6);
					font-size: px(12);
					font-weight: 400;
					letter-spacing: -0.03em;
					text-align: center;
					color: #3E4459;
					border: px(1) solid #F4F6F8;
					border-radius: px(4);
				}
			}
		}
	}
	#pop-cardForYou {
		.drawer-content {
			padding: px(32) px(20) px(22) px(20);
		}
		.wrap-scroll {
			padding: 0;
		}
		.title {
			margin-bottom: px(4);
			font-size: px(20);
			font-weight: 700;
			line-height: px(30);
			letter-spacing: -0.03em;
			color: #202434;
			text-align: left;
		}
		.desc {
			width: 100%;
			margin-bottom: px(16);
			font-size: px(14);
			font-weight: 400;
			line-height: px(18);
			letter-spacing: -0.03em;
			color: #7E8292;
			text-align: left;
		}
		.list-item {
			width: auto;
			.item-bg {
				border-radius: px(12);
			}
			.checkbox {
				z-index: 1;
				position: absolute;
				width: px(20);
				height: px(20);
				top: px(8);
				left: px(8);
				background: {
					size: 100%;
					repeat: no-repeat;
					position: center;
				}
				&[aria-selected="true"] {
					background-image: url(../images/checkBoxSelected.svg);
				}
				&[aria-selected="false"] {
					background-image: url(../images/checkBoxUnselected.svg);
				}
			}
      &-unclickable {
        .checkbox {
					background-image: url(../images/checkBoxUnclickable.svg) !important;
        }
      }
		}
	}
	#pop-calendar {
		.drawer-content {
			padding: px(32) px(20);
		}
		.cal-selected-status {
			height: px(32);
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			>div {
				height: inherit;
				display: flex;
				justify-content: center;
				align-items: center;
				span {
					display: inline-block;
					font-size: px(16);
					font-weight: 400;
					line-height: px(20);
					letter-spacing: -0.03em;
					text-align: center;
					color: #202434;
				}
			}
			button {
				width: px(32);
				height: px(32);
				position: absolute;
				top: 0;
				background-image: url(../images/calender/cal-btn.svg);
				background: {
					size:100%;
					repeat:no-repeat;
					position:center;
				}
				font-size: 0;
				line-height: 0;
				color: transparent;
				text-indent: px(-999);
				&[aria-available="false"] {
					background-image: url(../images/calender/cal-btn-unavail.svg);
				}
			}
			.cal-btn-prev {
				left: 0;
			}
			.cal-btn-next {
				right: 0;
				transform: rotate(180deg);
			}
		}
		.cal-list {
			margin-top: px(16);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			gap: px(12);
			.tr {
				display: flex;
				flex-basis: 100%;
				flex-shrink: 0;
				justify-content: space-between;
				align-items: center;
			}
			.td {
				flex: 1;
				height: px(60);
				display: flex;
				align-items: center;
				text-align: center;
				background-color: #fff;
				&:first-of-type {
					justify-content: flex-start;
					border-top-left-radius: px(16);
					border-bottom-left-radius: px(16);
					&.range-end {
						background-color: #fff;
					}
					&.range-start {
						background: linear-gradient(
							to left,
							rgba(51, 131, 253, 0.2) 0% 50%,
							#fff 50% 100%
						);
						&.range-end {
							background: none;
						}
					}
				}
				&:nth-of-type(2) {
					justify-content: center;
					&.range-start {
						background: linear-gradient(
							to left,
							rgba(51, 131, 253, 0.2) 0% 50%,
							#fff 50% 100%
						);
						&.range-end {
							background: none;
						}
					}
					&.in-range {
						&.range-start {
							background: linear-gradient(
								to left,
								rgba(51, 131, 253, 0.2) 0% 50%,
								#fff 50% 100%
							);
						}
						&.range-end {
							background: linear-gradient(
								to right,
								rgba(51, 131, 253, 0.2) 0% 50%,
								#fff 50% 100%
							);
						}
					}
				}
				&:last-of-type {
					justify-content: flex-end;
					border-top-right-radius: px(16);
					border-bottom-right-radius: px(16);
					&.range-start {
						background-color: #fff;
					}
				}

				&.in-range {
					background-color: rgba(51, 131, 253, 0.2);
					label {
						color: #24375C;
						border-color: #C1D5F2;
					}
				}
				&.range-start {
					label {
						font-weight: 700;
						color: #3383FD;
						background-color: #fff;
						border-color: #3383FD;
					}
				}
				&.range-end {
					label {
						font-weight: 700;
						color: #fff;
						background-color: #3383FD;
						border-color: #3383FD;
					}
				}
				&.range-unavailable {
					label {
						color: #7E8292;
						background-color: #E5E9EF;
					}
				}
			}
			label {
				width: 100%;
				max-width: calc(100% - px(8));
				height: inherit;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: px(16);
				font-weight: 400;
				line-height: px(20);
				letter-spacing: -0.03em;
				border: px(1) solid #E5E9EF;
				border-radius: px(16);
			}
		}
	}

	.look-recommandation {
		.head-content {
			padding: px(16) 0;
			position: relative;
			background-color: #fff;
			.content-title-box {
				flex-direction: column;
				align-items: flex-start;
			}
			.content-title {
				padding-left: px(20);
				padding-right: px(20);
				&.main {
					span {
						font-size: px(20);
						line-height: px(30);
						font-weight: 700;
					}
				}
			}
		}
		.content-title {
			span {
				display: block;
				font-size: px(16);
				font-weight: 700;
				line-height: px(24);
				letter-spacing: -0.03em;
				text-align: left;
			}
			strong {
				font-weight: 700;
			}
		}
		.no-content-border {
			border-top: 0;
		}
    .event-figure {
      position: relative;
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
		.benefit-tag {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			height: px(38);
			padding: 0 px(14);
			background-color:#E9EEFF;
			border-radius: px(12);
			font-size: px(14);
			font-weight: 700;
			@include primary-color;
			line-height: px(22);
		}

    .look-event-content {
			padding: px(32) px(24);
			background-color: #F4F6F8;
			.content-title * {
				text-align: center;
			}
      .event-swipe {
				margin-top: px(24);
      }
      .event-link {
        text-align: center;
      }
      .event-figure {
        max-width: px(86);
        padding-top: px(138);
        margin: 0 auto px(12);
      }
      .info {
				margin-top: px(12);
				text-align: center;
        &-name {
					font-size: px(14);
					font-weight: 400;
					line-height: px(18);
					letter-spacing: -0.03em;
					color: #7E8292;
        }
        &-desc {
					margin-top: px(8);
					span {
						display: block;
						color: #202434;
						&:not(:first-of-type) {
							margin-top: px(4);
						}
						font-size: px(16);
						font-weight: 700;
						line-height: px(20);
						letter-spacing: -0.03em;
					}
					strong {
						font-size: px(16);
						font-weight: 700;
						line-height: px(20);
						letter-spacing: -0.03em;
						color: #3383FD;
					}
        }
      }
			.btn-wrap {
				margin-top: px(12);
				justify-content: center;
			}
			.btn-action {
				max-width: px(98);
				height: px(38);
				box-sizing: border-box;
				color: #3E4459;
				font-size: px(14);
				font-weight: 400;
				letter-spacing: -0.03em;
				text-align: center;
				background-color: #fff;
				border: px(1) solid #E5E9EF;
			}
    }

		.recommandation-content {
			padding-top: px(30);
			border-width: px(12);
			.content-title {
        padding-left: 0;
				margin-bottom: px(8);
				span, strong {
					display: flex;
					align-items: center;
				}
				strong {
					margin-right: px(4);
          font-size: px(16);
          line-height: px(20);
          letter-spacing: -0.03em;
				}
				i {
					width: px(32);
					height: px(32);
					margin-right: px(6);
					display: inline-flex;
					background: {
						size: 100%;
						repeat: no-repeat;
						position: center;
					}
					&.ic-open-book {
						background-image: url(../images/icon_illu-open-book.svg);
					}
					&.ic-gas-station {
						background-image: url(../images/icon_illu-gas-station.svg);
					}
					&.ic-airplane {
						background-image: url(../images/icon_illu-airplane.svg);
					}
				}
			}
			.event-rank_list {
				.event-link {
					display: grid;
					flex-wrap: wrap;
					align-items: center;
					grid-template-columns: px(40) 1fr px(98);
					grid-gap: px(8);
					margin-bottom: px(32);
				}
				.event-figure {
					padding-top: px(64);
				}
        .event-info {
          padding-right: px(8);
        }
        .info-name {
          font-size: px(14);
          font-weight: 400;
          letter-spacing: -0.03em;
          color: #7E8292;
          @include ellipse(1);
        }
        .info-desc {
          margin-top: px(4);
          font-size: px(16);
          font-weight: 700;
          line-height: px(22);
          color: #3E4459;
          @include ellipse(3);
        }
				.btn-wrap {
					height: px(88);
					flex-direction: column;
					justify-content: center;
					>* {
						width: 100%;
						white-space: nowrap;
					}
				}
				.btn-action {
					max-width: px(98);
					flex-basis: auto;
					flex-grow: initial;
					flex-shrink: 0;
					height: px(38);
					margin-top: px(8);
					box-sizing: border-box;
					color: #3E4459;
					font-size: px(14);
					font-weight: 400;
					letter-spacing: -0.03em;
					text-align: center;
					background-color: #fff;
					border: px(1) solid #E5E9EF;
				}
			}
		}
	}
	#pop-cardApply {
		.drawer-content {
			padding: px(40) px(20);
		}
		.title {
			padding-left: px(4);
		}
		.item {
			margin-top: px(16);
			&-wrap {
				display: flex;
				justify-content: space-between;
				align-items: center;
				&::before {
					content: '';
					position: absolute;
					top: px(145);
					left: 50%;
					transform: translateX(-50%);
					display: block;
					width: px(32);
					height: px(32);
					background: {
						size:100%;
						repeat:no-repeat;
						position:center;
					}
					background-image: url(../images/icon_arr-circle-blue.svg);
				}
			}
			&-name {
				display: block;
				font-size: px(14);
				font-weight: 400;
				line-height: px(18);
				letter-spacing: -0.03em;
				text-align: center;
				color: #7E8292;
			}
		}
		.event-figure {
			max-width: px(86);
			padding-top: px(138);
			margin: 0 auto px(12);
		}
		.slogan {
			margin-top: px(24);
			&-line {
				font-size: px(18);
				font-weight: 400;
				line-height: px(27);
				letter-spacing: -0.03em;
				text-align: left;
				strong {
					font-weight: 700;
				}
				&:nth-of-type(2) {
					div {
						display: inline-block;
					}
					strong {
						color: #3383FD;
					}
				}
			}			
		}
	}

  .look-detail {
    .content-title {
      text-align: left;
      &.main {
				margin-left: px(12);
        padding-left: 0;
        font-size: px(18);
				line-height: px(27);
        font-weight: bold;
				width: 100%;
      }
    }
		.no-content-border {
			border-top: 0;
			padding-top: px(20);
			padding-bottom: px(16);
		}
		.event-head {
			display: flex;
			flex-direction: column;
			padding-bottom: px(24);
			> p {
				font-size: px(18);
				font-weight: 700;
				line-height: px(23);
				letter-spacing: -0.03em;
				text-align: left;
				color: #202434;
			}
			.event-head-step {
				margin-bottom: px(8);
				font-size: px(12);
				font-weight: 700;
				line-height: px(15);
				letter-spacing: -0.03em;
				text-align: left;
				color: #ADB2C5;
			}
		}
		.content-title-box {
			.link {
				margin-top: px(5);
				font-weight: 400;
				color: #3E4459;
				&::after {
					background: url(../images/icon_right_link.svg) center no-repeat;
				}
			}
		}
		.event-info-head {
			margin-bottom: px(16);
			display: flex;
			align-items: center;
			p {
				margin-left: px(8);
				font-size: px(16);
				font-weight: 700;
				line-height: px(20);
				letter-spacing: -0.03em;
				text-align: left;
				@include elip('l2');
			}
		}

    .look-event-content {
			padding-top: px(12);
			.event-link {
				color: #202434;
			}
			.event-figure {
				position: relative;
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			.event-rank_top {
				.event-link {
					display: grid;
					flex-wrap: wrap;
					align-items: center;
					grid-template-columns: px(116) 1fr;
					grid-gap: px(20);
					margin-bottom: px(40);
				}
				.event-figure {
					padding-top: px(149.5);
				}
				.info {
					&-rank {
						display: block;
						padding-bottom: px(4);
						font-size: px(22);
						font-weight: 700;
						@include primary-color;
					}
					&-name {
						padding-bottom: px(4);
						font-size: px(18);
						font-weight: 700;
						letter-spacing: -0.05em;
						@include ellipse(2);
					}
					&-desc {
						margin-bottom: px(8);
						font-size: px(14);
						line-height: px(22);
						@include ellipse(2);
					}
				}
			}
			.event-rank_list {
				margin-bottom: px(28);
				.list-items {
					&:not(:last-of-type) {
						margin-bottom: px(24);
					}
				}
				.event-link {
					display: grid;
					align-items: center;
					grid-template-columns: px(40) 1fr px(98);
					grid-gap: px(12) px(8);
				}
				.event-figure {
					padding-top: px(64);
				}
				.info {
					&-rank {
						display: flex;
						align-items: center;
						gap: px(2);
						font-size: px(14);
						font-weight: 700;
						color: #3E4459;
					}
					&-name {
						font-size: px(14);
						font-weight: 400;
						letter-spacing: -0.03em;
						@include ellipse(1);
						color: #7E8292;
					}
					&-desc {
						margin-top: px(4);
						font-size: px(15);
						font-weight: 700;
						line-height: px(22);
						@include ellipse(3);
					}
				}
				.btn-action {
					height: px(38);
					font-size: px(14);
					font-weight: 700;
					letter-spacing: -0.03em;
					text-align: center;
				}
			}
    }
		.detail-content {
			padding-top: px(40);
			.benefit-tag {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				height: px(36);
				padding: 0 px(12);
				background-color:#E9EEFF;
				border-radius: px(12);
				font-size: px(16);
				font-weight: 700;
				@include primary-color;
			}
			.event-info {
				&+.event-info {
					margin-top: px(32);
				}
				&.event-ceased {
					.btn-action {
						background-color:#ADB2C5;
					}
				}
				&-section {
					margin-bottom: px(24);
				}
				&-title {
					margin-bottom: px(8);
					font-size: px(14);
					font-weight: 700;
					line-height: px(18);
					letter-spacing: -0.03em;
					color: #7E8292;
				}
				&-text {
					font-size: px(14);
					font-weight: 400;
					line-height: px(22);
					letter-spacing: -0.03em;
					color: #202434;
					ul {
						li {
							position: relative;
							padding-left: px(16);
							&::before {
								content: '•';
								position: absolute;
								top: 0;
								left: 0;
							}
						}
					}
				}
				.btn-action {
					font-weight: 700;
				}
			}
		}
		.detail-notice-content {
			padding: 0;
			.event-head {
				padding: px(22) px(20) px(20);
			}
			.content-title-box {
				p {
					font-size: px(18);
					font-weight: 700;
					line-height: px(27);
					letter-spacing: -0.03em;
					color: #202434;
				}
				span {
					margin-top: px(4);
					display: block;
					font-size: px(14);
					font-weight: 700;
					line-height: px(18);
					letter-spacing: -0.03em;
					color: #7E8292;
				}
			}
			.notice-info {
				&-section {
					padding: px(32) px(20) px(105);
					background-color: #F4F6F8;
					border-top-left-radius: px(27);
					border-top-right-radius: px(27);
				}
				&-title {
					position: relative;
					display: flex;
					align-items: center;
					font-size: px(16);
					font-weight: 700;
					line-height: px(20);
					letter-spacing: -0.03em;
					color: #202434;
					&::before {
						content: '';
						width: px(24);
						height: px(24);
						flex-shrink: 0;
						margin-right: px(6);
						display: inline-flex;
						background-image: url(../images/icon_info-circle-yellow.svg);
						background: {
							size: 100%;
							position: center;
							repeat: no-repeat;
						}
					}
				}
				margin-top: px(12);
				li {
					&+li {
						margin-top: px(8);
					}
					position: relative;
					padding-left: px(16);
					font-size: px(14);
					font-weight: 400;
					line-height: px(19);
					letter-spacing: -0.03em;
					text-align: left;
					color: #7E8292;
					&::before {
						content: '•';
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
			.event-bottom {
				padding: px(34) px(24);
				margin-top: px(-20);
				overflow: hidden;
				background-color: #fff;
				border-radius: px(24) px(24) 0 0;
				span {
					font-weight: 400;
				}
				.btn-action {
					height: px(44);
					padding-right: px(16);
					padding-left: px(16);
					display: flex;
					align-items: center;
					font-size: px(14);
					font-weight: 700;
					img {
						margin-right: px(5);
					}
				}
			}
		}
  }
	
	.sns-share {
		padding: px(23) px(33) px(18);
		&-list {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		button {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			span {
				margin-top: px(8);
				display: block;
				font-size: px(12);
				font-weight: 400;
				line-height: px(15);
				letter-spacing: -0.03em;
				text-align: center;
				color: #7E8292;
			}
		}
	}

	.look-list {
    padding-bottom: px(10);
    .head-content {
      padding-bottom: px(40);
    }
    .content-title {
      text-align: left;
      &.main {
        padding-left: 0;
        font-size: px(20);
        font-weight: 700;
        line-height: px(30);
        letter-spacing: -0.03em;
      }
    }
		.event-list-content {
      padding-top: 0;
			padding-left: 0;
			padding-right: 0;
			.tab-content {
				margin-top: px(24);
				.content-title-box {
					padding-left: px(20);
					padding-right: px(20);
				}
				.event-list {
					padding-bottom: px(20);
					.list-item {
						padding: px(16) px(20);
						border-bottom: 8px solid #F4F6F8;
            margin-top: px(10);
            margin-bottom: px(10);
            &:first-of-type {
              margin-top: 0;
            }
						&:last-of-type {
              margin-bottom: 0;
							border-bottom: 0;
						}
						> div {
							width: 100%;
							display: flex;
						}
						.logo {
							width: px(56);
							height: px(56);
							margin-right: px(8);
							display: flex;
							align-items: center;
							justify-content: center;
							background-color: #FFFFFF;
							box-shadow: 0 px(4) px(4) #F4F6F8;
							border-radius: px(20);
							img {
								display: inline-block;
							}
						}
						.title {
							font-size: px(18);
							font-weight: 700;
							line-height: px(26);
							letter-spacing: -0.03em;
							text-align: left;
							strong {
								font-size: inherit;
								font-weight: inherit;
								line-height: inherit;
								letter-spacing: inherit;
								color: #3383FD;
							}
							span {
								display: block;
								margin-top: px(4);
								font-size: px(14);
								font-weight: 400;
								line-height: px(18);
								letter-spacing: -0.03em;
								text-align: left;							
							}
						}
						.period {
							padding: px(10) px(16);
							margin-top: px(12);
							display: flex;
							align-items: center;			
							background-color: #F4F6F8;
							border-radius: px(12);
							&::before {
								content: '';
								width: px(24);
								height: px(24);
								margin-right: px(6);
								display: inline-block;
								background-image: url("../images/icon_calendar.svg");
								background: {
									size: px(24);
									position: center center;
									repeat: no-repeat;
								}
							}
							p {
								padding-top: px(1);
								font-size: px(14);
								font-weight: 400;
								line-height: px(18);
								letter-spacing: -0.03em;
								text-align: left;
								color: #7E8292;			
							}
						}
						&-new {
							span.new {
								padding: px(2) px(8);
								margin-left: auto;
								display: inline-block;
								font-size: px(12);
								font-weight: 700;
								line-height: px(18);
								letter-spacing: 0;
								text-align: left;
								color: #fff;
								background-color: #3383FD;
								border-radius: px(16);
							}
						}
						&-closed {
							.logo {
								opacity: .5;
							}
							.period p {
								width: 100%;
								max-width: 100%;
								display: flex;
								justify-content: space-between;
								&::after {
									content: '종료';
								}
							}
						}
					}
				}
			}
      .carousel {
				padding-top: px(7);
				padding-left: px(20);
				border-top: px(1) solid #F4F6F8;
				.list-item {
					position: relative;
					display: block;
					min-width: px(72);
					min-height: px(72);
					width: calc(25% - px(9));
					padding-top: calc(25% - px(9));
					border: px(1) solid #F4F6F8;
					background-color: #fff;
					border-radius: px(20);
					&-selected {
						border-color: #3383FD;
					}
					> div {
						position: absolute;
						top: 50%;
						left: 50%;
						transform:translate(-50%, -50%);
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
					}
					.item-logo {
						width: px(32);
						height: px(32);
						display: flex;
						align-items: center;
						justify-content: center;
						img {
							display: inline-block;
						}
					}
					.item-name {
						margin-top: px(4);
						font-size: px(12);
						font-weight: 400;
						line-height: px(15);
						letter-spacing: -0.03em;
						text-align: center;
						color: #585D72;
					}
				}
			}
		}
	}
}

@keyframes flip {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-180deg);
	}
}

.marquee {
  z-index: -1;
	position: absolute;
	top: 25%;
  left: px(-20);
  right: px(-20);
	overflow: hidden;
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
	background-repeat: no-repeat;
  .marquee__mask {
    display: flex;
    align-items: center;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    white-space: nowrap;
    transform: translate3d(var(--move-initial), 0, 0);
    -webkit-animation: marquee 10s linear infinite;
            animation: marquee 10s linear infinite;
  }
  .marquee__loop .marquee__text {
    margin: 0 px(16);
    font-family: "SUIT";
    font-size: px(56);
    font-weight: 900;
    letter-spacing: -0.03em;
    text-align: center;
    color: #ADB2C5;
  }
}

@media (max-width: 1024px) {
	.marquee .marquee__mask {
		-webkit-animation: marquee 30s linear infinite;
		        animation: marquee 30s linear infinite;
	}
}

@-webkit-keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}

@keyframes marquee {
	0% {
		transform: translate3d(var(--move-initial), 0, 0);
	}
	100% {
		transform: translate3d(var(--move-final), 0, 0);
	}
}